/*     */
header {
    height: auto;
    color: #d8d8d8;
    font-weight: 600;
}

/*     */
.logo-img {
    height: auto;
    width: 72.8%;
}

.logo-img > img {
    border-radius: 50px;
    height: 45px;
}

.logo-img > h4 {
    font-weight: 700;
}
.logo-img {
    cursor: pointer;
}

/*     */
select {
    font-weight: 600;
    background-color: #000000;
    color: #d8d8d8;
    padding: 2%;
    border: none;
    width: auto;
}

.select-language-currence {
    display: flex;
    justify-content: space-between;
}
select {
    color: #d8d8d8;
}

/* */
.sell {
    border: 1px solid #d8d8d8;
    border-radius: 50px;
}

.sell:hover {
    cursor: pointer;
    color: rgb(67, 198, 228);
    border: 1px solid rgb(67, 198, 228);
}

.icon-profile:hover {
    cursor: pointer;
    color: rgb(67, 198, 228);
}