.hiperlinks-mark > li {
    display: inline;
}

.link {
    font-weight: 500;
}

.link {
    margin: 0 0 0 10%;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline rgb(67, 198, 228) 4px;
}

.search {
    width: 70%;
    height: 35px;
    border-radius: 15px;
    border: 1px solid rgb(184, 166, 166);
}

.search:hover {
    border: 1px solid rgb(67, 198, 228);
}
